.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #c6c6c6;
}

.nav-link{
    float: left;
    color: black;
    text-align: center;
    padding: 15px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    border-radius: 1px;
}

.nav-link:hover{
    background-color: #c7c7c7;
    color: White;
}